[Unit]
Description=Read SML data from serial input and write to InfluxDB
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/sml2influxdb
WorkingDirectory=/usr/local/bin
StandardOutput=inherit
StandardError=inherit
Restart=always
User=###USER###

[Install]
WantedBy=multi-user.target
